<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<title>trace url</title>
</head>
<body>
	<form action="/resolve" method="get">
	   <input id="url" name="url" type="url" />
	   <input id="submit" name="submit" type="submit" value="submit" />
	</form>
</body>
</html>